<main class="content px-3 py-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 d-flex">
        <div class="card flex-fill border-0">
          <div class="card-body p-0 d-flex flex-fill">
            <div class="row g-0 w-100">
              <div class="col-6">
                <div class="p-3 m-1">
                  <h4 class="mb-0" style="font-weight: normal">Top Selling Item Over Time (quantity)</h4>
                </div>
              </div>
              <div class="col-6">
                <div class="p-3 m-1">
                  <p style="text-align: right" class="mb-0">
                    <span style="color: #b6b6b4; font-weight: normal">Financial Analytics / Item and Time /
                    </span>
                    <a style="
                        color: black;
                        font-weight: normal;
                        text-decoration: none;
                      ">
                      Analytics 1
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-flex">
        <div class="card flex-fill border-0">
          <div class="card-body py-4">
            <div class="d-flex align-items-start">
              <div class="flex-grow-1">
                <label for="dataCount">Select number of items to visualize:</label>
                <select id="dataCount" [(ngModel)]="selectedDataCount" (change)="updateChartData()">
                  <option value="1" disabled>Select</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                  <option value="150">150</option>
                  <option value="200">200</option>
                  <option value="{{ data_all.length }}">
                    {{ "All (" + data_all.length + ")" }}
                  </option>
                </select>
                <div class="chart-wrapper">
                  <canvas baseChart [type]="'line'" [datasets]="chartData" [labels]="chartLabels"
                    [options]="chartOptions">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12 d-flex">
        <div class="card flex-fill border-0">
          <div class="card-body py-4">
            <div class="d-flex align-items-start">
              <div class="flex-grow-1">
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                      type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                      Summary
                    </button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                      type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                      Analytics
                    </button>
                  </div>
                </nav>
                <div class="tab-content p-2" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                    tabindex="0">
                    <h6 class="py-3">
                      This chart shows the number of times each product sold.
                    </h6>
                    <ol>
                      <li class="pb-3">
                        From the chart, there are 259 different products on this platform. Among them, 'Stirrers Coffee
                        Stirs 7inch' sold the highest number of times, 98,464 units. The second highest is 'Sweet N Low
                        Sweetener,' which sold 39,684 units. There are only 15 products that are sold for more than
                        10,000 units. And maximum product sold below 1000 units.
                      </li>
                    </ol>
                  </div>
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                    tabindex="0">
                    <h6 class="py-3">
                      This chart shows the number of times each product sold.
                    </h6>
                    <ol>
                      <li class="pb-3">
                        This chart is essential to understand the most valuable and useless products over time. Stirrers
                        Coffee Stirs 7inch is the most practical and demanding product sold at 98,464 units. If any
                        product is not selling the number of times it was expected, then it can be removed easily by
                        seeing this graph. This way, profit will increase, and store capacity will increase.
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
