<main class="content px-3 py-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 d-flex">
        <div class="card flex-fill border-0">
          <div class="card-body p-0 d-flex flex-fill">
            <div class="row g-0 w-100">
              <div class="col-6">
                <div class="p-3 m-1">
                  <h4 class="mb-0" style="font-weight: normal">Yearly Store Wise Sales Quantity</h4>
                </div>
              </div>
              <div class="col-6">
                <div class="p-3 m-1">
                  <p style="text-align: right" class="mb-0">
                    <span style="color: #b6b6b4; font-weight: normal">Inventory Analytics / Store and Time /
                    </span>
                    <a style="
                        color: black;
                        font-weight: normal;
                        text-decoration: none;
                      ">
                      Analytics 1
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-flex">
        <div class="card flex-fill border-0">
          <div class="card-body py-4">
            <div class="d-flex align-items-start">
              <div class="flex-grow-1">
                <label for="dataCount">Select number of items to visualize:</label>
                <select id="dataCount" [(ngModel)]="selectedDataCount" (change)="updateChartData()">
                  <option value="1" disabled>Select</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="{{ this.year.length }}">
                    {{ "All (" + this.year.length + ")" }}
                  </option>
                </select>
                <div class="chart-wrapper">
                  <canvas baseChart [type]="'line'" [datasets]="chartData" [labels]="chartLabels"
                    [options]="chartOptions">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12 d-flex">
        <div class="card flex-fill border-0">
          <div class="card-body py-4">
            <div class="d-flex align-items-start">
              <div class="flex-grow-1">
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                      type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                      Summary
                    </button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                      type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                      Analytics
                    </button>
                  </div>
                </nav>
                <div class="tab-content p-2" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                    tabindex="0">
                    <h6 class="py-3">
                      This chart shows the number of units sold from different store sizes from 2014 to 2022.
                    </h6>
                    <ol>
                      <li class="pb-3">
                        From the graph, the highest number of units sold in 2020 was from the small store, which was
                        30,949 units, and from the medium store, which was 30,908 units, almost the same as the small
                        store. Nearly every year, small and high-capacity stores sell the maximum number of products,
                        but recently, high-capacity stores performed better from 2019 to 2022.
                      </li>
                    </ol>
                  </div>
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                    tabindex="0">
                    <h6 class="py-3">
                      This chart shows the number of units sold from different store sizes from 2014 to 2022.
                    </h6>
                    <ol>
                      <li class="pb-3">
                        This chart is essential because it shows the number of units sold from different store sizes. In
                        recent years, small, medium, and high-capacity stores perform better. But before 2019, the
                        high-capacity store was the product of sale less. In the future, in any new store that opens,
                        what is lacking in the high-capacity store that needs to be improved can be benefits or lessons
                        on how to manage the store so that sales increase.
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
