<main class="content px-3 py-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 d-flex">
        <div class="card flex-fill border-0">
          <div class="card-body p-0 d-flex flex-fill">
            <div class="row g-0 w-100">
              <div class="col-6">
                <div class="p-3 m-1">
                  <h4 class="mb-0" style="font-weight: normal">Customer Lifetime Value (CLV) Over Time</h4>
                </div>
              </div>
              <div class="col-6">
                <div class="p-3 m-1">
                  <p style="text-align: right" class="mb-0">
                    <span style="color: #b6b6b4; font-weight: normal">Financial Analytics / Customer and Time /
                    </span>
                    <a style="
                        color: black;
                        font-weight: normal;
                        text-decoration: none;
                      ">
                      Analytics 1
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 d-flex">
        <div class="card flex-fill border-0">
          <div class="card-body py-4">
            <div class="d-flex align-items-start">
              <div class="flex-grow-1">
                <label for="dataCount">Select number of items to visualize:</label>
                <select id="dataCount" [(ngModel)]="selectedDataCount" (change)="updateChartData()">
                  <option value="1" disabled>Select</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                  <option value="150">150</option>
                  <option value="200">200</option>
                  <option value="300">300</option>
                  <option value="500">500</option>
                  <option value="1000">1000</option>
                  <option value="1500">1500</option>
                  <option value="{{ data_all_c.length }}">
                    {{ "All (" + data_all_c.length + ")" }}
                  </option>
                </select>
                <div class="chart-wrapper">
                  <canvas baseChart [type]="'line'" [datasets]="chartData" [labels]="chartLabels"
                    [options]="chartOptions">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12 d-flex">
        <div class="card flex-fill border-0">
          <div class="card-body py-4">
            <div class="d-flex align-items-start">
              <div class="flex-grow-1">
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                      type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                      Summary
                    </button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                      type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                      Analytics
                    </button>
                  </div>
                </nav>
                <div class="tab-content p-2" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"
                    tabindex="0">
                    <h6 class="py-3">
                      This chart shows customers' lifetime value, which means how much each customer spent.
                    </h6>
                    <ol>
                      <li class="pb-3">
                        There are a total of 1984 customers involved in this platform. From chart C001036, customers
                        spent the most money buying products, 84,802 taka. There are a total of 8 customers who spent
                        more than 80,000 taka. Most of the customers spent less than 20,000 taka. Around 100 people paid
                        more than 20,000 taka.
                      </li>
                    </ol>
                  </div>
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"
                    tabindex="0">
                    <h6 class="py-3">
                      This chart shows customers' lifetime value, which means how much each customer spent.
                    </h6>
                    <ol>
                      <li class="pb-3">
                        This chart is essential to keep track of every customer.
                        Which customer spent more and which spent less can be seen from this graph. On average, the
                        customer's total paid range can be below 20,000 taka. What product that customer buying can be
                        added more to increase their money spent. Also, discounts and offers can be given to manipulate
                        them into buying more to increase profit.
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
